/** CSS general de ProyectoSanitaria */


/**Cargo las fuentes que voy a utilizar */

@font-face {
    font-family: Bebas;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Promesh;
    src: url(../assets/fonts/PROMESHMesh-Regular.ttf);
}

/** Paleta de colores y fuentes*/
:root {
    --first-color: #566c97;
    --second-color: #3DA5A8;
    --third-color: #399C78;
    --fourth-color: #c6ad6e;
    --fifth-color: #c5af81;
    --title-font: Promesh;
    --subtitle-font: Bebas;
}

/*Estilo general de la página*/
body {
    color: rgb(35, 35, 35);
    margin: 0 auto;
    width: 100%;
    min-width: 375px;
    max-width: 1600px;
    background-color: rgb(107, 107, 107);
}

a {
    color: rgb(106, 106, 106);
    text-decoration: none;
}

ul {
    list-style: none;
}